html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -text-size-adjust: 100%;
}

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}


@media only screen and (min-width: 500px) {
  h1{

  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}



nav li {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
}

li a {
    color: #3783a3;
    font-size: 1.5rem;
}

body {
  margin: 1rem;


}

img {
  display: block;
  width: 100%;
}

main {
  align-items: center;
  color: #000;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-areas: repeat (3,1fr)
  grid-template-areas:
  "col1 col2 col";
  a;
}

figure {
  grid-template-columns: .5em 1em .6em;
  display: flex;

}

 figure:last-child {
  text-decoration: none;
  color: #3783a3;
  background-color: #fff;
  padding: .5rem;
  border-style: solid;
 }
